.work-title {
    margin: 40px 0 10px 0;
    font-size: 20px;

    .listIcon {
        margin-right: 10px;
    }
}

.work-describe {
    color: #c5c6c7;
}
.editIcon {
    margin-right: 10px;
    color: #66fcf1;
    cursor: pointer;
    transition: color 0.2s;

    &:hover {
      color: #fff;
    }
}

.work {
    position: relative;
    padding: 10px;
    margin: 10px 0;
    background-color: #1f2833;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s;
  
    &:hover {
      background-color: #45a29e;
    }
  
    .work-buttons {
      display: none; /* Ẩn các nút mặc định */
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
    }
  
    &:hover .work-buttons {
      display: flex; /* Hiển thị các nút khi di chuột */
    }
  
    .editIcon,
    .checkIcon,
    .starIcon {
      margin-left: 10px;
      cursor: pointer;
      transition: color 0.2s;
  
      &:hover {
        color: #fff;
      }
    }
}

.work-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.work-header,
.work-item {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 2fr;
  gap: 10px;
  padding: 10px;
  background-color: #1f2833;
  border: 1px solid #45a29e;
  border-radius: 5px;
  color: #c5c6c7;
}

.work-header {
  font-weight: bold;
  background-color: #0b0c10;
  color: #66fcf1;
}

.work-actions {
  display: flex;
  gap: 10px;
}

.editIcon {
  cursor: pointer;
  color: #66fcf1;
  transition: color 0.3s;
}

.editIcon:hover {
  color: #45a29e;
}

.checkIcon {
  cursor: pointer;
  color: #4caf50;
  transition: color 0.3s;
}

.checkIcon:hover {
  color: #388e3c;
}

.work-item:nth-child(even) {
  background-color: #0b0c10;
}